<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>
  {{> navbar }}
  <div class="row">
    <div class=" col-8">
      <h1>lobo</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, dignissimos. Voluptas, excepturi! Labore atque
        ipsa, laudantium quia id voluptate deleniti temporibus hic odit officia distinctio ratione numquam consectetur
        molestiae aut!
      </p>
    </div>
    <div class=" col-4">
      <img src="assets/img/lobo.png" class="img-thumbnail">
    </div>

  </div>
  {{> footer }}
</body>

</html>